apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "kube-api-proxy.fullname" . }}
  labels:
    {{- include "kube-api-proxy.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "kube-api-proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kube-api-proxy.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      hostNetwork: true
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          args:
            - "--ext-ip={{ .Values.kubeAPI.externalIP }}"
            - "--int-ip={{ .Values.kubeAPI.internalIP }}"
            - "--ext-port={{ .Values.kubeAPI.externalPort }}"
            - "--int-port={{ .Values.kubeAPI.internalPort }}"
            - "--sync-period={{ .Values.syncPeriod }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            privileged: true
          volumeMounts:
          - name: lib-modules
            mountPath: /lib/modules
            readOnly: true
          - name: run-nftables
            mountPath: /run/nftables
      volumes:
      - name: lib-modules
        hostPath:
          path: /lib/modules
      - name: run-nftables
        hostPath:
          path: /run/nftables
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
